.product-categories
    padding: 3rem 0
    background-color: $white
    color: $gray
    
    .container
        padding: 0 5rem

.product-category-list
    list-style: none
    display: flex
    justify-content: space-around
    max-width: $xl
    margin: 0 auto
    
    
    &__category
        display: flex
        flex-direction: column
        padding: 1rem
        text-align: center
        max-width: 100px

        &:first-child
            padding-left: 0

        &:last-child
            padding-right: 0

        img
            border-radius: 100%
            max-width: 100px
            margin: 0 auto 1rem

